# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Virtual env & OS junk
venv/
.env
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Private data (do NOT commit datasets)
train_clinical_data.csv
*.parquet
*.feather
*.csv.gz
